<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    该函数应将字符串作为输入，并返回字符串中元音（a、e、i、o、u）的计数。该函数不区分大小写。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}count-vowels2.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：字符串</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出： 整数</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <ul>
        <li><i>自然语言处理任务，如文本分析和统计；</i></li>
        <li><i>在基于文本的游戏或学习应用中，例如计算单词或短语的难易程度。</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li><i>text ∈ string；</i></li>
    <li><i>length(text) &gt;= 0.</i></li>
    </ul>
</p>
