<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Ta funkcja powinna przyjmować ciąg jako dane wejściowe i zwracać liczbę samogłosek (a, e, i, o, u) w ciągu. Funkcja powinna rozróżniać wielkość liter.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}count-vowels2.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Jak jest używany:</strong>
    <ul>
        <li><i>w zadaniach przetwarzania języka naturalnego, takich jak analiza tekstu i statystyki;</i></li>
        <li><i>w grach tekstowych lub aplikacjach edukacyjnych, na przykład do obliczania poziomu trudności słowa lub frazy.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunki wstępne:</strong>
    <ul>
    <li><i>text ∈ string;</i></li>
    <li><i>length(text) &gt;= 0.</i></li>
    </ul>
</p>
